/* COMMON */
body{
  font-family: 'Roboto', sans-serif;
}
.small-wrapper{
  max-width: 900px;
  margin: 0 auto;
}

img{
  width: 100%;
}

.menu{
  list-style-type: none;
}

.menu li{
  display: inline-block;
}

.menu li a{
  text-transform: uppercase;
}

a{
  text-decoration: none;
}

.ta-right{
  text-align: right;
}

.ta-center{
  text-align: center;
}

.ta-left{
  text-align: left;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  font-size: 45px;
  font-weight: 400;
}

h3{
  font-size: 32px;
  font-weight: 500;
}

.subtitle-text{
  font-size: 25px;
}

.standard-text{
  font-size: 20px;
}

/* FINE COMMON */

/* HEADER */
/* Top-Nav */
.top-nav .logo{
  line-height: 12px;
}
.top-nav img{
  width: 50%;
  vertical-align: middle;
}

.top-nav{
  padding: 30px 20px 20px 20px;
}

.top-nav .menu li{
  margin-right: 10px;
  line-height: 12px;
}

.top-nav .menu li a{
  color: black;
  font-size: 12px;
}

.menu.lang li{
  padding-left: 10px;
  border-left: 1px solid black;
}

.menu.lang li:first-child{
  border-left: none;
}

.burger{
  font-size: 25px;
}
/* Fine Top-Nav */

/* Jumbotron */

.jumbotron{
  height: 550px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.teaser{
  width: 50%;
}

h1{
  font-size: 50px;
  font-weight: 500;
}

.teaser p{
  font-size: 15px;
  margin-top: 20px;
}

.teaser .download-btn{
  margin-top: 20px;
}

.teaser .download-btn img{
  width: 30%;
}
/* Fine Jumbotron */
/* FINE HEADER */

/* MAIN */
/* Sezione Servizi Offerti */

#services{
  margin: 40px 0;
}

.inner-col{
  padding: 20px;
  background-color: #FAFAFA;
}

.inner-col p{
  margin: 20px 0;
}
/* Fine Sezione Servizi Offerti */

/*  Sezione How it works */
.banner{
  height: 420px;
  background-image: url("../img/HelbizBanner.jpg");
  background-size: cover;
}

.banner img{
  width: 20%;
  display: block;
  margin: auto;
  position: relative;
  top: 150px;
}

.how-info{
  padding-top: 80px;
}

.info-first,
.info-second{
  width: 40%;
  margin: 0 auto;
}

.thin{
  font-size: 12px;
}
/*  Fine Sezione How it works */

/* Sezione ADVs */
#advs{
  margin: 170px 0 40px 0;
}

.self-promotion{
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  height: 500px;
  background-size: cover;
  position: relative;
  color: white;
}

.self-promo-info{
  position: absolute;
  top: 30%;
  right: 5%;
  width: 30%;
}

.self-promo-info .standard-text,
.self-promo-info a{
  position: relative;
  right: 30px;
  color: white;
}


.self-promo-info .standard-text{
  margin: 20px 0;
}

.second-row{
  margin: 30px 0;
}

.card{
  padding-top: 20px;
  height: 450px;
  color: white;
}

.card.app{
  background-color: lightblue;
  padding-top: 20px;
  overflow: hidden;
  height: 450px;
  color: white;
}

.card a{
  color: white;
}

.inner-col-left{
  padding-right: 15px;
  width: 100%;
}

.inner-col-right{
  padding-left: 15px;
  width: 100%;
}

[class*="inner-col-"] p{
  margin: 20px 0;
}

.card.find-us{
  background-image: url("../img/cities-1500.jpg");
  background-size: cover;
}

.social-banner{
  background-image: url("../img/Social-Banner.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}

.social-hub{
  background-color: white;
  padding: 65px 130px;
}

.social-hub .menu li{
  margin-right: 27px;
  margin-top: 10px;
}

.social-hub .menu li a{
  color: black;
  font-size: 30px;
}

/* Fine Sezione ADVs */
/* FINE MAIN */
