/* COMMON */
body{
  font-family: 'Roboto', sans-serif;
}
.small-wrapper{
  max-width: 900px;
  margin: 0 auto;
}

img{
  width: 100%;
}

.menu{
  list-style-type: none;
}

.menu li{
  display: inline-block;
}

a{
  text-decoration: none;
}

.ta-right{
  text-align: right;
}

.ta-center{
  text-align: center;
}

.ta-left{
  text-align: left;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  font-size: 45px;
  font-weight: 400;
}

h3{
  font-size: 32px;
  font-weight: 500;
}

.subtitle-text{
  font-size: 25px;
}

.standard-text{
  font-size: 20px;
}

.download-btn img{
  border: 1px solid white;
  border-radius: 5px;
}

.jumbotron,
#advs:not(.social-hub){
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
/* FINE COMMON */

/* HEADER */
/* Top-Nav */
.top-nav .logo{
  line-height: 12px;
}

.top-nav img{
  width: 50%;
  vertical-align: middle;
}

.top-nav{
  padding: 30px 20px 20px 20px;
}

.top-nav .menu li{
  margin-right: 10px;
  line-height: 12px;
}

.top-nav .menu li a{
  color: black;
  font-size: 12px;
  text-transform: uppercase;
}

.menu.lang li{
  padding-left: 10px;
  border-left: 1px solid black;
}

.menu.lang li:first-child{
  border-left: none;
}

.burger{
  font-size: 25px;
}
/* Fine Top-Nav */

/* Jumbotron */

.jumbotron{
  height: 550px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.teaser{
  width: 50%;
}

h1{
  font-size: 50px;
  font-weight: 500;
}

.teaser p{
  font-size: 15px;
  margin-top: 20px;
}

.teaser .download-btn{
  margin-top: 20px;
}

.teaser .download-btn img{
  width: 240px;
}
/* Fine Jumbotron */
/* FINE HEADER */

/* MAIN */
/* Sezione Servizi Offerti */

#services{
  margin: 40px 0;
}

.inner-col{
  padding: 20px;
}

.inner-col p{
  margin: 20px 0;
}

.content-col{
  background-color: #FAFAFA;
  padding: 50px 0 20px 0;
}
/* Fine Sezione Servizi Offerti */

/*  Sezione How it works */
.banner{
  height: 420px;
  background-image: url("../img/HelbizBanner.jpg");
  background-size: cover;
}

.banner img{
  max-width: 300px;
  display: block;
  margin: auto;
  position: relative;
  top: 150px;
}

.how-info{
  padding-top: 80px;
}

.info-first,
.info-second{
  max-width: 185px;
  margin: 0 auto;
}

.thin{
  font-size: 12px;
}
/*  Fine Sezione How it works */

/* SEZIONE ADVs */
#advs{
  margin: 170px 0 40px 0;
  color: white;
}

#advs a{
  color: white;
}

.self-promotion{
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  height: 500px;
  background-size: cover;
  position: relative;
}

.self-promo-info{
  position: absolute;
  top: 30%;
  right: 5%;
  width: 30%;
}

.self-promo-info .standard-text,
.self-promo-info a{
  position: relative;
  right: 30px;
}


.self-promo-info .standard-text{
  margin: 20px 0;
}

.second-row{
  margin: 30px 0;
}

.card{
  padding-top: 20px;
  height: 460px;
}

.card.app{
  background: linear-gradient(0deg, rgba(37,46,56,1) 0%, rgba(65,86,106,1) 100%);
  position: relative;
}

.get-app-info{
  padding-bottom: 30px;
}

.get-app-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.get-app-img img{
  max-width: 500px;
  vertical-align: bottom;
}

.inner-col-left{
  padding-right: 15px;
  width: 100%;
}

.inner-col-right{
  padding-left: 15px;
  width: 100%;
}

[class*="inner-col-"] p{
  margin: 20px 0;
}

.card.find-us{
  background-image: url("../img/cities-1500.jpg");
  background-size: cover;
}

.social-banner{
  background-image: url("../img/Social-Banner.jpg");
  background-size: cover;
  height: 400px;
  position: relative;
}

.social-hub{
  background-color: white;
  color: black;
  padding: 65px 130px;
}

.social-hub .menu{
  width: 115%;
}

.social-hub .menu li{
  margin-right: 27px;
  margin-top: 10px;
}

#advs .menu li a{
  color: black;
  font-size: 30px;
}

/* Fine Sezione ADVs */
/* FINE MAIN */

/* FOOTER */
footer{
  background-color: black;
  padding: 60px 0;
  color: white;
}

.footer-top{
  padding-bottom: 40px;
}

.footer-top img{
  width: 50%;
}

.footer-top li{
  display: block;
  margin-top: 15px;
}

.footer-top .menu li:first-child{
  margin-top: 25px;
}

.footer-top a{
  color: grey;
}

.footer-bottom{
  position: relative;
  padding-bottom: 100px;
}

.footer-bottom .menu li{
  margin-right: 10px;
}

.footer-bottom .menu a{
  font-size: 20px;
}

.footer-bottom a{
  color: white;
  font-size: 14px;
}

.moved{
  position: absolute;
  bottom: 20px;
  left: 0;
}

.footer-bottom .download-btn img{
  width: 150px;
}

.footer-bottom .download-btn {
  text-align: center;
}

/* FINE FOOTER */



/* SEZIONE RESPONSIVE */
@media all and (max-width: 991px){
  /* HEADER */
  .teaser .download-btn img{
    width: 50%;
  }

  .how-info{
    padding-top: 200px;
  }

  /* MAIN */
  .info-first{
    padding-bottom: 10px;
  }

  #advs {
    margin-top: 50px;
  }

  .self-promo-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }

  .self-promo-info h2{
    text-align: center;
  }

  .self-promo-info .standard-text, .self-promo-info a{
    position: static;
  }

  .inner-col-left{
    padding-right: 0;
  }

  .inner-col-right{
    padding-left: 0;
  }

  .card.find-us{
    margin-top: 20px;
  }

  .self-promotion,
  .card,
  .social-banner{
    margin: 0 20px;
  }

  .social-hub{
    background-color: white;
    padding: 30px 50px;
  }

  /* FOOTER */
  .footer-top,
  .footer-bottom{
    padding: 0 20px;
  }

  .footer-top img{
    width: 25%;
    margin-bottom: 20px;
  }

  .footer-bottom .menu{
    text-align: center;
    margin: 30px 0;
  }

  .moved{
    position: relative;
    margin-top: 20px;
  }

  .footer-bottom .menu a{
    font-size: 25px;
  }

  .footer-bottom .download-btn img{
    width: 25%;
  }

  .last-link-center{
    text-align: center;
  }

  .last-link-right{
    text-align: right;
  }
}
